@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=IM+Fell+French+Canon:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.hb {
    box-shadow: 10px 40px 64px -32px rgba(15, 15, 15, 0.1),
        -10px 40px 64px -32px rgba(15, 15, 15, 0.1);
}

.tl {
    font-family: 'Quintessential', cursive;
}

.tb {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #777E90;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
    transition: color 0.2s ease;
}

.tb::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(to right,
            rgba(24, 163, 255, 0.25),
            rgba(31, 235, 140, 0.2));
    backdrop-filter: blur(20px);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.tb:hover {
    color: rgb(67, 67, 67);
}

.tb:hover::before {
    opacity: 1;
}

.date {
    cursor: pointer;
}

.date:hover {
    background-color: black;

    h3 {
        color: white;
    }
}

.dropdown {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown.open {
    max-height: 400px;
    opacity: 1;
    transform: translateY(0);
    overflow-y: auto;
}

.dropdown.open::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.dropdown.open {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.price-range input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 4px;
    outline: none;
}

.ant-switch-checked {
  background-color: #52c41a !important; 
}

.place::first-letter{
    font-size: 22px;
    font-weight: 600;
}